[2017-09-06 07:46] akaipham opened #1 "DrawPath feature not working on ReactNative"
AbstractContentContext::GraphicOptions pathStrokeOptions(
AbstractContentContext::eStroke,
AbstractContentContext::eRGB,
AbstractContentContext::ColorValueForName("DarkMagenta"),
4);

DoubleAndDoublePairList pathPoints;

// draw path
pathPoints.push_back(DoubleAndDoublePair(100,200));
pathPoints.push_back(DoubleAndDoublePair(100,201));
pathPoints.push_back(DoubleAndDoublePair(100,202));
context->D

[2017-09-22 21:45] Hopding commented on #1
I take it that you are attempting to modify the actual native code for iOS? In that case, it should be possible to use any functionality that exists in the `PDF-Writer`, within RN.

One possibility is that the static binaries this project uses were built prior to the addition of `DrawPath`. I can look into that this weekend.

Sorry for that late reply.

[2017-09-22 22:17] Hopding commented on #1
I just tested out the code sample you provided. I modified the [`applyActions`](https://github.com/Hopding/react-native-pdf-lib/blob/master/ios/PDFPageFactory.mm#L41-L54) method to run the following snippet every time it is executed (so, for every page that is added to a PDF using the JavaScript API).
[test.pdf](https://github.com/Hopding/react-native-pdf-lib/files/1325984/test.pdf)

[code]

This

[2017-11-05 21:19] nzhtrtlc opened #2 "How to extract text ?"
Hi @Hopding , i extracted the text from pdf using java for desktop app.
After this i wanted to use it in react-native then i saw your repo then thought i wont have to build my own native module.

Here is how i extracted text.
https://gist.github.com/nzhtrtlc/1373df42304fd4163bcdb958cd838a41

Can we do this in your module or provide ?

[2017-11-07 03:18] #1 closed

[2017-11-07 03:29] Hopding commented on #2
Hello @nzhtrtlc,

`react-native-pdf-lib` does not currently expose any JavaScript APIs for text stripping. However, it could be implemented in the core libraries it uses for manipulating PDFs on Android and iOS. If you wish to fork the project or create a branch and add this functionality, I would welcome a Pull Request!

It certainly should be possible to do this with [PdfBox-Android](https://git

[2017-11-07 17:53] nzhtrtlc commented on #2
@Hopding  Thanks for your answer. I don't have experince about native modules. But still i forked your repo but i don't know how can i test my code ?
There is only "test" script in npm scripts. And these test files are not really a test.
So i am confused 😕

[2017-11-08 12:50] ddaeschler opened #3 "Combine PDFs?"
Good morning,

Is there currently a combination of methods I can use in this library to combine multiple PDF files into a single file?

[2017-11-08 13:30] Hopding commented on #2
@nzhtrtlc Development on react native libraries can be a little weird. I'd like to post a detailed guide at some point. But in the meantime, what you essentially have to do is add this library to an existing react native project (created with  `react-native init`), and build that. Unfortunately, you cannot really test changes to a native library independently of a runnable project.

The reason is

[2017-11-08 13:41] Hopding commented on #3
@ddaeschler The JavaScript API does not currently support this. However, it is possible to add support for this type of thing, as the underlying libraries that are used to manipulate PDFs on Android and iOS support this operation. If you decide to tackle this, please let me know how it goes!

#### Android
It should be possible to use the [`PDFMergerUtility`](https://github.com/TomRoush/PdfBox-Andr

[2017-11-08 20:27] nzhtrtlc commented on #2
@Hopding I got it now.
I can edit your code from **node_modules** and i can see my changes using `react-native link` thanks for the tip.

Here is what i tried to do but failed.

- First, i wrote my native code in PDFLibModule.
**PDFLibModule.java**
I created method called `stripText` line between 62-94
https://gist.github.com/nzhtrtlc/e84d69d11b4bce6ed94699b6e1612e9c#file-pdflibmodule-java-L62-L94

[2017-11-10 13:40] Hopding commented on #2
@nzhtrtlc Nothing about your Java or JavaScript code looks incorrect. Unfortunately, I am unable to view the images you posted. If you can try to re-upload them, perhaps I can assist you further? You should also be able to just copy & paste the error. I believe React Native allows you to copy errors text from the simulator via a button on the error screen.

[2017-11-10 13:56] nzhtrtlc commented on #2
@Hopding im in different pc right now but i can see the images.

Here is a link for image https://user-images.githubusercontent.com/17534778/32572573-b0902518-c4d3-11e7-83ec-07dbb3ac4fdc.png
if you still cant see the error text is like this:

getText
- PDDocumentFactory.java:47

stripText
- PDFLibModule.java:67

[2017-11-13 14:52] ddaeschler commented on #3
Going to start work on this today, and I'll submit a PR.

Thanks!

[2017-11-17 16:42] ddaeschler commented on #3
Unfortunately even after implementing this, there seems to be a bug in the PDF library this library depends on:  https://github.com/TomRoush/PdfBox-Android/issues/133

[2017-11-20 22:13] Jorenm opened #4 "Is it possible to save pages out of a PDF as images?"

[2017-11-20 23:26] Hopding commented on #4
@Jorenm The JavaScript API for this library does not currently support this. However, the [Android api](https://github.com/TomRoush/PdfBox-Android) that this library uses to handle PDFs on Android might be able to support it (see [this](https://github.com/TomRoush/PdfBox-Android/blob/1ee740d3739f23d00efaadbf5a83b765e96a29c1/library/src/main/java/com/tom_roush/pdfbox/rendering/PDFRenderer.java#L21)

[2017-11-21 14:22] KrajncJ opened #5 "Is there a possibility to change the font in method drawText?"
Getting error:

When using chars like:

[2017-11-24 21:31] ddaeschler commented on #3
I didn't have time to track down the issue in PdfBox, so I opted to use image insertion to generate the PDFs instead which was luckily and option for me. I'll try to keep tracking the PdfBox project incase they issue a fix then I can complete this work.

[2017-11-27 16:38] Hopding commented on #3
@ddaeschler Thanks for looking into this 👍

[2017-11-27 16:39] Hopding commented on #5
Both of the underlying libraries used for manipulating PDFs can handle different fonts. However, I have not added functionality to support changing the font via the JavaScript API. This feature could certainly be added, though.

[2017-12-19 19:46] unTanana opened #6 "Pass base64 instead of imagePath ?"
For usage like this:
.drawImage(pngPath, 'png', {
     x: 5,
     y: 25,
     width: 200,
     height: 100,
  });
Can a base64 string be passed instead of the actual path ?
Thank you!

[2017-12-26 17:40] kwangkim opened #7 "incorrect path"
`.create(path)` should be `.create(pdfPath)`.
[code]

[2018-01-10 15:48] hidura opened #8 "Problem saving the pdf"
Hello I've this issue with the saving of the PDF give this error:
"Rejection (id: 0):
Error: /sample.pdf: open failed: EROFS (Read-only file system)
Error: /sample.pdf: open failed: EROFS (Read-only file system)
    at createErrorFromErrorData (http://localhost:8081/index.bundle?platform=android&dev=true&minify=false:7113:15)
    at http://localhost:8081/index.bundle?platform=android&dev=true&mini

[2018-01-11 03:35] CrystalRanita commented on #8
Release version device cannot write file on root path.
Here:
const pdfPath = `/sample.pdf`;
Need to change to other path.

I can create file on path: /mnt/sdcard/DCIM/Camera/sample.pdf
With Andriod AndroidManifest.xml
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
And open permission f

[2018-01-14 14:48] hidura commented on #8
Thanks @CrystalRanita I works perfectlly!

[2018-01-20 02:05] jacargentina opened #9 "Remove yarn dependency, not needed?"
Yarn is not needed as a dependency I think. Could it be removed? BTW, yarn from npm is giving a warning as it is not supported anymore as an npm package.

[2018-01-23 20:32] wyz1 opened #10 "Transform Error - could not find preset"
I get this error whenever i import the library

`The development server returned response error code: 500

URL: http://10.0.2.2:8081/index.android.bundle?platform=android&dev=true&hot=false&minify=false

Body:
{"message":"TransformError: C:\\projects\\musicapp\\node_modules\\react-native-pdf-lib\\index.js: Couldn't find preset \"flow\" relative to directory \"C:\\\\projects\\\\musicapp\\\\node_mod

[2018-01-26 03:00] jacargentina commented on #5
@Hopding could u accept contributions to do that? I'can try to implement it, maybe a new fontName option on the drawText options object?

[2018-01-28 22:26] Hopding commented on #8
@CrystalRanita Thanks you for helping resolve this issue!

[2018-01-28 22:26] #8 closed

[2018-01-28 22:30] Hopding commented on #9
@jacargentina Thank you for reporting this issue! Yes, it should be removed. It looks like the recommended way to install yarn now is [via homebrew](https://yarnpkg.com/en/docs/install).

Unfortunately I am pretty busy with other things, and am unable to prioritize work on this library right now. I'll take care of this eventually, or I'd be happy to accept a PR addressing this.

[2018-01-28 22:34] Hopding commented on #10
This is probably because the code I've released to NPM is not transpiled. My understanding is that by default, React Native projects are set up with Flow.  Do you have a `.babelrc` file with the `"flow"` preset (similar to https://github.com/Hopding/react-native-pdf-lib/blob/master/.babelrc)?

[2018-02-01 13:21] jacargentina opened #12 "Feature: measure text for a given font and size"
Feature: measure text for a given font and size

This would be nice to have, for centering text on the page for example.

@Hopding I'm trying to achieve that (iOS on first place), but I'm having a hard time with adding the freetype dependency needed for this to compile, when using PDFUsedFond.h) If you have some time to help me with that, I can continue from there.

[2018-02-01 18:06] jacargentina commented on #12
I've implemented it on #11

[2018-02-01 18:06] #12 closed

[2018-02-01 18:06] jacargentina commented on #9
Done. On #11

[2018-02-01 18:06] #9 closed

[2018-02-01 18:07] jacargentina commented on #5
@KrajncJ Done on my PR at #11

[2018-02-08 13:24] erkangozukucuk opened #13 "Search and highlight"
Hi,
How to implement search and highlight text in pdf?

[2018-02-08 19:50] Hopding commented on #13
Hi @erkangozukucuk,

I haven't looked to deeply into this. However, after a brief search, it looks _possible_. On iOS you'll probably have to do something like what is explained [here](http://pdfhummus.com/post/156548561656/extracting-text-from-pdf-files). On Android, it will probably be easier, as there is already a [`PDFTextStripper`](https://github.com/TomRoush/PdfBox-Android/blob/master/librar

[2018-02-28 18:38] waltershub commented on #6
I would also really like this

[2018-03-04 17:19] bakystefan commented on #7
use react native fs to find path,
add in android manifest write external storage!

[2018-03-06 16:21] ivanxtr opened #14 "Cannot Read propertly getDocumentsDirectory of undefined"
createPDF(){

        const page1 = PDFPage
            .create()
            .setMediaBox(200, 200)
            .drawText('You can add text and rectangles to the PDF!', {
                x: 5,
                y: 235,
                color: '#007386',
            })
            .drawRectangle({
                x: 25,
                y: 25,
                width: 150,
                height: 150,

[2018-03-06 16:25] ivanxtr opened #15 "Error generating PDF"
![image](https://user-images.githubusercontent.com/32345257/37044233-92b53338-2128-11e8-9b50-b28b36831dd8.png)

[2018-03-06 16:26] ivanxtr commented on #14
i've solved this one:
closing the simulator and restarting again the simulator

[2018-03-08 09:10] Sata51 commented on #14
You are using
`const docsDir = PDFLib.getDocumentsDirectory();`
The  `PDFLib.getDocumentsDirectory();` method return a promise.

In documentation, the implementation is using `await` like this:
`const docsDir = await PDFLib.getDocumentsDirectory();`

[2018-03-11 20:49] jacargentina commented on #5
@hopding 0.2.0 supports this now?

[2018-03-11 20:51] Hopding commented on #5
Yes, indeed it does. Thanks to @jacargentina 👍

[2018-03-11 20:51] #5 closed

[2018-03-23 02:38] Sannaraek opened #16 "Using the provided default font from the OS (Fonts in other languages)"
I am caught in a situation where I must use the default font used by the phone for particular language (Khmer, Cambodia's Language). Due to the symbols of my language, specifically assigning a font would not give the desired result (Some letters or not recognized due to complications in my language characters).

 If possible? is there any way to use the default given font by the phone OS as the kh

[2018-04-01 20:45] Hopding commented on #16
Your only option here is to embed a custom font in the PDF and use that. See [using custom fonts](https://github.com/Hopding/react-native-pdf-lib#using-custom-fonts). I think the challenge you face here is actually getting the font file to embed. I'm not sure how you would obtain this.

[2018-04-01 20:47] #14 closed

[2018-04-01 20:49] Hopding commented on #15
Need more information to help you with this.

My apologies for the late response. I'm going to close this for now. Bu, please feel free to re-open it if you're still encountering this issue.

[2018-04-01 20:49] #15 closed

[2018-04-13 14:51] ll-upwork opened #18 "For Android method PDFPage.drawImage doesn't work"
When I try to modify pdf and use method  PDFPage.drawImage(pathToJpg, 'jpg') I get error` [Android] Attempt to invoke virtual method 'int android.graphics.Bitmap.getWidth()' on a null object reference`
Without PDFPage.drawImage everything is working

[2018-04-25 20:41] felippepuhle opened #19 "Couldn't make drawImage work"
[code]

<img width="388" alt="screen shot 2018-04-25 at 5 41 33 pm" src="https://user-images.githubusercontent.com/15961929/39271619-ed76d0de-48af-11e8-8966-8dd2232383fa.png">

What am I doing wrong?

[2018-04-26 18:17] Hopding commented on #19
Unfortunately relative file paths like you're using will not work. You must specify an absolute path to an image on the device's file system.

So, if you have an image called `logo.png` located under the documents directory of the device, you can obtain its absolute path like so:
[code]

The issue in your case will be how to get your logo into the documents directory of the device. The easiest way

[2018-04-26 18:25] Hopding commented on #7
@kwangkim Thank you! I've updated the README. Sorry for the late response.

[2018-04-26 18:26] Hopding commented on #7
@bakystefan Not sure I understand your comment. Are you talking about a separate issue from what @kwangkim mentioned?

[2018-04-26 18:30] Hopding commented on #6
@unTanana Sorry for the late reply. I appreciate the feedback. I don't have as much time as I'd like to maintain this library, but I will keep your suggestion in mind.

In the meantime, you may wish to consider the solution I suggested [here](https://github.com/Hopding/react-native-pdf-lib/issues/19#issuecomment-384739753). Please note that it does involve using the [`RNFS`](https://github.com/iti

[2018-04-30 13:34] felippepuhle commented on #19
Thanks, @Hopding! 😄

[2018-04-30 13:34] #19 closed

[2018-05-04 12:14] Hopding commented on #18
I'm going to close this issue. Please feel free to reopen it if you'd like to continue discussion.

[2018-05-04 12:14] #18 closed

[2018-05-04 12:15] #7 closed

[2018-06-25 16:38] FlaviooLima opened #20 "[iOS] BAD_ACCESS_MEMORY"
Manual instructions are incorrect only `react-native link` works.

Android:
import com.reactlibrary.PdfLibPackage; -> import com.hopding.pdflib.PDFLibPackage;
new PdfLibPackage() -> new PDFLibPackage();

iOS: Don't know how it should be, but the usual manual link don't work.

[2018-06-27 07:10] hieuluis96 opened #21 "Set variable to text undefined ?"
Hi, your library was be useful for my project that i had been working, but when i went to set text from variable, it  displayed "undefined ". My code look like 👍

[code]
Result:
![image](https://user-images.githubusercontent.com/40381681/41958673-f799177a-7a14-11e8-8a95-9531cbd1fdb6.png)

Thank you for reply

[2018-06-27 13:59] Korno91 commented on #20
Yeh exactly, wasted a lot of time on that

[2018-06-27 21:38] Hopding commented on #21
Based on the code you've provided here, it looks like the `name` variable passed to `drawText` must be `undefined`:
[code]
Have you verified what value it contains?

[2018-06-27 21:43] Hopding commented on #20
@FlaviooLima Just to make sure I understand: You tried installing `react-native-pdf-lib` using the [manual instructions](https://github.com/Hopding/react-native-pdf-lib#manual-installation), but when you ran the example on iOS after doing so, you got a `BAD_ACCESS_MEMORY` error? And after running `react-native link`, it worked fine?

[2018-06-28 01:52] hieuluis96 commented on #21
Yes I had create function to using with variable i had. Ex:
render(){
let name = "Kevin"
return (
<Button
...
onPress={()=>createPDF(name)}
/>
)
}
But still undefined when i open pdf

[2018-06-28 09:37] FlaviooLima commented on #20
@Hopding Exactly.
I didn't change the title because of people like @Korno91 and me that thought the bad access was a bug from the package instead a of a bad linking.
Manual linking doesn't work on iOS and in android the instructions are incorrect.
Could you test the manual linking to check if it happens to you?

PS: Side problem (if you want i can open a separate issue).

[2018-06-28 17:07] FlaviooLima opened #22 "Can't add images"
Can't add images.
I'm i doing it wrong?
It happens to png and jpeg when i try to modify and create a pdf.

iOS shows yellow warning "Error modifying PDF!"
Android shows:
![screen shot 2018-06-28 at 17 59 50](https://user-images.githubusercontent.com/13239857/42049166-120a99ec-7afd-11e8-87b6-faf669fc3573.png)

[code]

[2018-06-29 21:57] Hopding commented on #21
If you can provide a complete code snippet, I can try to reproduce the problem. Unfortunately, from the partial snippets you've shared thus far, it's not clear to me where the problem lies.

[2018-06-29 21:59] Hopding commented on #20
I think the linking issue may be related to the Times New Roman font included in the `/assets` directory. I'll try to take a look this weekend and update the code or the README instructions.

[2018-06-29 22:03] Hopding commented on #22
It looks like the problem might be that you are saving a [data URL](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/Data_URIs) as the JPG file, rather than just the base64 image data.

Try the following:
[code]

[2018-07-10 19:31] FlaviooLima commented on #20
Hi, thanks for the response :)
Since there is no more reason to leave it open i´m gonna close it :)

[2018-07-10 19:31] #20 closed

[2018-07-10 19:34] FlaviooLima commented on #22
Hi, thanks for the response but i´m not working any more at the project so i can´t test it.
I´m gonna believe that i did some mistake and you gave the right answer so i´m gonna  close it.

[2018-07-10 19:34] #22 closed

[2018-07-11 22:49] coichedid opened #23 "iOS drawImage with TypeError"
Hello,
I'm stucked in a strange error with my code. I'm trying to create a pdf, something like sample adding some images.

The problem is that in every case I try to drawImage, it goes throw an exception:
"Cannot add property X, object is not extensible"
I debugged PDFPage.js code and I found that it goes throw this error at line 151:
this.page.actions.push(imageAction);

This is my call to drawIm

[2018-07-13 01:18] Hopding commented on #23
Hello @coichedid. If you can provide some more information by answering these questions, perhaps we can determine the cause of this error:
* In your code sample you provide `x` and `y` in the options object passed to `drawImage`. Have you tried passing `x`, `y`, `width`, and `height`?
* Are you able to draw text without any errors?
* Have you tried renaming the image file to remove the space chara

[2018-07-13 01:19] Hopding commented on #21
I'm going to close this. Feel free to reopen if you're still encountering a problem.

[2018-07-13 01:19] #21 closed

[2018-07-13 01:22] Hopding commented on #2
I'm afraid I got busy and forgot about this issue. I'm going to close this for now. If anybody would like to revisit this, please feel free to reopen it. My apologies for failing to respond and having forgotten about this.

[2018-07-13 01:22] #2 closed

[2018-07-16 15:34] coichedid commented on #23
Hello @Hopding,
I didn't set width, height yet, but I tried setting those values and I got the same thing.
Also, I tried images with names without space character, same thing.
Finally, I can't try Android behavior, because I'm only working with iOS.

Text drawing works fine, even if it is mashed with images, I got a pdf with only text, no images.

[2018-07-16 17:48] coichedid commented on #23
Hi @Hopding ,
After some tries and errors, I got it!

I have a loop where I iterate over all elements of PDF file, looking for images and then write then to disk. After that, I call PDFDocument.create(pdfPath).write().
As writing to disk images is an async call, when I called write function, not all images was written to disk and setted their paths.
Now, I'm using some async/await calls and everyt

[2018-07-17 18:16] VanessaChu opened #24 "No podspec found for `RNReactNativePdfLib` in `../node_modules/react-native-pdf-lib`"
Tried to add podspec to my podfile

  pod 'RNReactNativePdfLib', :path => ‘../node_modules/react-native-pdf-lib'

but received this error on pod install
[!] No podspec found for `RNReactNativePdfLib` in `../node_modules/react-native-pdf-lib`

[2018-07-17 20:06] VanessaChu opened #25 "Cannot read 'PDFLib.getDocumentsDirectory()' of undefined"
I get this error on line:
const docsDir = await PDFLib.getDocumentsDirectory()
despite following the usage example

[code]

[2018-07-19 17:22] #25 closed

[2018-07-19 17:22] #24 closed

[2018-07-19 17:23] VanessaChu opened #26 "Possible Unhandled Promise Rejection (id: 0): YellowBox.js:80 Error: Failed to embed PDF!"
This is the error

YellowBox.js:80
Error: Failed to embed PDF!
Error: Failed to embed PDF!
    at createErrorFromErrorData (/Users/vanessa/Desktop/vericare_rn/.vscode/.react/index.ios.bundle:10586:17)
    at /Users/vanessa/Desktop/vericare_rn/.vscode/.react/index.ios.bundle:10538:27
    at MessageQueue.__invokeCallback (/Users/vanessa/Desktop/vericare_rn/.vscode/.react/index.ios.bundle:10980:18)

[2018-07-23 21:52] Hopding commented on #23
The width, height, x, and y units are defined in "PDF space" dimensions. They do not correspond to the dimensions of a device's screen, or React Native's concept of "logical pixels". It would be useful if there was a mapping of one to the other, but I'm not aware of a simple way to do this.

[2018-07-23 21:56] Hopding commented on #26
Can you share the paths that are contained in the `uriMonthly` and `uriWeekly` variables? Also, are you sure they are PNG images, not JPG images? And, if you are able to share them, it would be useful to have access to the images themselves so that I can try to reproduce the issue.

[2018-07-23 22:30] coichedid commented on #23
Yep, I got it!

I agreed with you, it could be hard to relate those units, yet, as you said, react native has a “dynamic pixel unit”.

Nevertheless, after some frustrating tries, it works fine and I got a fine layout!

Your lib is awesome!

Best regards,

Clovis Chedid

Em 23 de jul de 2018, à(s) 18:52, Andrew Dillon <notifications@github.com> escreveu:

[2018-07-26 14:36] martnst opened #27 "Build failure on Android"
I am encountering a build error on Android.

**steps:**

- `react-native init RNPDFPlay`
- `cd RNPDFPlay`
- `yarn add react-native-pdf-lib`
- add `dexOptions { jumboMode = true }` to `./android/app/build.gradle`
- `react-native run-android`

**build log:**
[code]

**env:**
- macOS: 10.13.4
[code]

[2018-07-26 15:15] martnst commented on #27
Setting up with the same steps but using react-native 0.55 via [rninit](https://github.com/jacobbubu/rninit) `react-native init` instead works fine.

[2018-09-03 14:42] Louies89 opened #28 "PDFLib is not getting exported"
Hi,
I am using react-native-pdf-lib@0.2.0 with react-native 0.54.

The problem is that PDFLib is not getting exported from native module. And when I am doing

, it shows

I do not know why it is not imported from native modules. And I was just running your example "**Create a New PDF Document**", each time, I run it it throws error:

Please help me to resolve this issue.

[2018-09-03 14:50] Hopding commented on #28
Hello @Louies89. Have you linked the module?
[code]

[2018-09-03 15:03] Louies89 commented on #28
yes I have linked

[2018-09-03 15:47] Louies89 commented on #28
ooh my god, I had changed

to something else, in my settings.gradle, it created all the problem.

whole day is wasted, :(

[2018-09-03 15:50] Hopding commented on #28
Well, I'm glad you were able to fix the issue! I feel your pain though. Mess up one part of all that config code and stuff just starts breaking. It's a real time sink.

[2018-09-03 15:50] #28 closed

[2018-09-28 10:11] njoye opened #29 ""Error modifying PDF" can't modify my blank pdf"
Hi,
I have a react native project that builds and works fine. The Library is properly included and creating the modified pages (as described in the readme) works fine. But as soon as I try to use `PDFDocument.write()` I get the error: `Error modifying PDF!`.
I really don't know what to do now, as the error message is not really helpful. Digging through Objective-C Code didn't help much as well. If

[2018-09-28 10:16] njoye commented on #29
It seems like this is a writing / reading issue. Trying to simply generating a PDF and saving it into the App's document folder works fine. I'll post my solution once I figured this out.

[2018-10-06 06:52] Chetanspace commented on #15
i am facing same issue

[2018-10-06 11:02] Chetanspace commented on #18
facing same issue !!

[2018-10-10 17:44] Hopding commented on #29
`react-native-pdf-lib` can only read/write files from the file system. So your `blank.pdf` will need to be placed there before you can do anything with it. One way to do this would be to include it as an asset and then write that asset to the file system at runtime. I think React Native's packager supports adding assets to your app. Though I'm not sure about writing them to the file system.

[2018-10-10 17:47] Hopding commented on #29
This article explains how to add a custom font asset: https://medium.com/react-native-training/react-native-custom-fonts-ccc9aacf9e5e. I imagine you could use a similar approach for a PDF asset. You might be able to use the [`fs.asset`](https://github.com/wkh237/react-native-fetch-blob/wiki/File-System-Access-API#assetfilenamestringstring) method of `rn-fetch-blob` to write the asset to the file s

[2018-10-11 08:55] njoye commented on #29
I've already added the pdf as an asset to the system but that didn't change anything. I guess adding the asset is just one part and writing it to the file system is the second that needs to be done. Then loading it from the apps data directory will probably be solution. Going to post an update as soon as I get to implement that.

[2018-10-16 21:29] mrfambo opened #30 "Array of Pages"
The library is great but i am very surprised to see that i need to define all pages first. What if my PDF can have multiple pages like sometimes 5, 10 or 20.

Is there any way to create pages programmatically in an array and pass that array when creating the PDF file?

[2018-10-17 14:48] Hopding commented on #30
Certainly. The following should do the trick:
[code]
You could also do it this way:
[code]

[2018-10-17 14:48] #30 closed

[2018-10-17 15:00] Hopding commented on #27
Hello @martnst. Thanks for reporting this issue!

My apologies for the late response. I'm afraid I don't have the time to debug or fix this issue right now. But I suspect that it is caused by the `minSdkVersion`, `compileSdkVersion`, `targetSdkVersion`, or `buildToolsVersion` being incorrect for React Native `0.56+`.

I think this could be fixed by updating these values. Or, even better, not hardc

[2018-10-20 08:52] martnst commented on #27
Hi @Hopding, okay fair enough. I actually ended up going a different way via some own native code turning HTML into PDF. If I remember right I kinda just wanted to report this FYI.

[2018-10-26 19:33] Louies89 opened #31 "Removing unnecessary assets from PdfBox-Android"
Hi @Hopding ,
In ..<App_Name>\android\app\build\intermediates\assets\debug\com\tom_roush, there are lot of resorce files kept for PdfBox-Android library.

As I am using my own costume font and all the resources placed here are can be excluded, otherwise the pdf lib asset size shall be around 9 Mb.

Check below pic, its from my apk:

![image](https://user-images.githubusercontent.com/30086899/47589

[2018-10-30 13:57] Saumyadip-Pramanik opened #32 "Android app is not building"
:react-native-pdf-lib:processDebugResources FAILED
FAILURE: Build failed with an exception.
* What went wrong:
Execution failed for task ':react-native-pdf-lib:processDebugResources'.

[2018-10-31 17:09] Louies89 commented on #31
@Hopding Will you please help me to integrate the AAR file generated at "https://github.com/tripplemac/pdfbox-android-lite" to integrate with your project.

I wanted to keep the AAR file as a local AAR file and integrate to your library.

I have already spent 15 hours and gone through almost all solutions provided by stackoverflow and other sites. But I am unable to integrate the pdfbox-android-li

[2018-11-05 17:44] Hopding commented on #32
Closing this as it is a duplicate of https://github.com/Hopding/react-native-pdf-lib/issues/27. A workaround can be found in that thread.

[2018-11-05 17:44] #32 closed

[2018-11-05 17:45] Hopding commented on #29
@njoye Any updates on this?

[2018-11-06 07:20] njoye commented on #29
Not yet as I couldn’t work on it since then. Try writing the file into the app’s data directory when running it (maybe only the first time ?) and then simply access it. That’d be my solution.

[2018-11-17 09:06] ankii9600 commented on #15
I am facing same issue when adding more than one pages ...

[2018-11-17 09:07] ankii9600 commented on #15
![issue opening](https://user-images.githubusercontent.com/13003611/48659396-4fc2b100-ea76-11e8-8289-5ca038208b2e.png)

[2018-11-17 11:19] ankii9600 commented on #15
I got it only breaks when it has image type of png.. i thibnk only jpg images are supported ..

[2018-11-17 12:32] Chetanspace commented on #15
yeah that why i used base64 image for rendering and it worked for me

On Sat, Nov 17, 2018 at 4:49 PM ankii9600 <notifications@github.com> wrote:

[2018-11-22 12:33] #31 closed

[2018-11-23 05:44] Louies89 commented on #31
@Hopding
Hi, I was out for a long time, today I saw your reply.

As per your 1st question, `pdfbox-android-lite` does not have any maven or other repository, so I was unable to add dependency, also I dont know how to add another project directly to your library. so I didn't get success.

And about deleting resources, I did not get proper syntax while trying. When I will get some free time, I will

[2018-11-23 14:39] #29 closed

[2018-11-23 14:47] Hopding commented on #31
@Louies89 I'm certainly open to giving users of `react-native-pdf-lib` more information. It'd be great if you are able to add a section to the README explaining (1) that `PdfBox-Android` is a rather large library, and (2) the steps that can be taken to swap it out.

I don't think I want to replace `PdfBox-Android` as the default dependency for `react-native-pdf-lib` on Android. But I'm willing to

[2018-11-23 19:43] Louies89 commented on #31
Sorry to say that, I cannot start a PR, but definitely I can explain what I did, to use `pdfbox-android-lite` with your library.
1> Compared code, of `PdfBox-Android` & `pdfbox-android-lite` and got to know, some security related files which uses `spongycastle` are removed.
2> As I am not using the sceurity features of PDF, its OK for me, if I will not have those files.
3> `PdfBox-Android` is a co

[2018-11-23 19:48] Louies89 commented on #31
But there is a another shortcut, which I tried for 2 days, but didn't get any fruitful result, as Build Gradle set up I didn't get correctly.

The shortcut is :
Including [pdfbox-android-lite-1.8.9.1.aar](https://github.com/tripplemac/pdfbox-android-lite/blob/master/library/release/org/apache/pdfbox-android-lite/1.8.9.1/pdfbox-android-lite-1.8.9.1.aar) directly to the dependency in build gradle fi

[2018-11-28 03:21] softmastx opened #33 "UnsupportedOperationException"

[2018-11-28 03:41] softmastx commented on #33
MainApplication.java

[code]

[2018-12-06 16:48] MrFaisal100 opened #34 "is there a way to get the total number of pages in existing pdf document"
is there a way to get the total number of pages in pdf document?

[2018-12-19 08:58] paddy57 opened #35 "how to put a line breaker in drawText,"
If the length of question is long enough that text is not visibile how to make the remainig text to be on next line ?

[2019-01-07 02:05] aureliopetrone opened #36 "OOM error with 4 pages or more"
Hello @Hopding, I love your library but I have problems adding multiple pages to a document.

When the number of pages grow I experience this error:

[code]
There is a screenshoot of the error here

https://imgur.com/a/xCifFo0

On some devices, I can add at max 3 pages, on some others 4-5. But I need to add up to 20 pages to a document. The document is really light, there are only text and lines (

[2019-01-08 15:17] Hopding commented on #36
Hello @aureliopetrone. I'm no Android expert, but I'll help as best I can.

I don't _think_ this is an issue with `react-native-pdf-lib` (but I could be wrong). This looks like a memory issue in your app. The error message seems to be indicating a couple of things:
1. Your app is allowed a maximum of `536 MB` of RAM (or `536870912` bytes).
2. You have `108 KB` left until you get an OOM error (pres

[2019-01-08 15:19] Hopding commented on #35
@paddy57 sorry for the late response. @aureliopetrone is correct. PDFs have no notion of line breaks or special control characters like `\n` or `\r`. You'll have to manually figure out when to break your text onto a new line. The [`measureText`](https://github.com/Hopding/react-native-pdf-lib#measuring-text) method should help with this.

[2019-01-08 15:19] #35 closed

[2019-01-08 15:30] Hopding commented on #34
@MrFaisal100 this feature doesn't currently exist, though I can see it's value.

I doubt I'll have time to work on this anytime soon. But I'm happy to help anybody that would like to make a PR for this!

[2019-01-08 15:32] Hopding commented on #33
Yes, manual installation on Android doesn't currently work. And on the latest versions of React Native the automatic linking requires tweaking as well (see https://github.com/Hopding/react-native-pdf-lib/issues/27). I'd like to get this fixed. Not sure when I'll have a chance to work on this though.

[2019-01-11 06:12] shubham1164 commented on #34
I need this feature too. :D

[2019-02-01 04:59] ShridharCodewave opened #37 "No such file or directory"
I tried to create a pdf file using the sample code given.

 const docsDir = PDFLib.getDocumentsDirectory();
        const pdfPath = `${docsDir}/sample.pdf`;
        PDFDocument
            .create(pdfPath)
            .addPages(page1)
            .write() // Returns a promise that resolves with the PDF's path
            .then(path => {
                alert(path)
                // Do stuff with

[2019-02-01 05:45] #37 closed

[2019-03-15 00:22] Laurein opened #40 "App crashes when modifying PDF"
App crashes when trying to modify PDF file. I'm modifying pdf on a press of a button. I attached code to this issue.
[code]

[2019-03-17 19:33] Laurein commented on #37
Have you solved the problem?

[2019-03-18 04:52] ShridharCodewave commented on #37
Yes the path given to create the pdf file was causing  the error. I used the download folder to save the pdf which solved the problem.
`PDFDocument
     .create('/storage/emulated/0/Download/sample.pdf')
     .addPages(page1)
     .write() // Returns a promise that resolves with the PDF's path
     .then(path => {
     });`

[2019-03-20 12:35] georgewwindsor commented on #27
@Hopding , that worked for me thanks

[2019-03-22 03:09] inh556 commented on #36
If I have a list of line needed to be rendered on the PDF page, how can I do it? I tried to pass an array, and tried to use map a list of texts, but neither works.  Should I call drawText() as many times as I need? Thanks.

[2019-03-23 14:05] Hopding commented on #36
@inh556 Please create a new issue for the problem you are encountering, and include some code snippets demonstrating what you have tried to do. I'll then be more than happy to answer your question.

[2019-03-23 14:05] #36 closed

[2019-03-23 14:07] Hopding commented on #40
@Laurein What is the stacktrace/error you get when the app crashes?

[2019-04-26 07:42] fukuball opened #41 "Is it support password protection?"
Is it support password protection? I didn't see the option on the document.

[2019-04-30 18:13] jacargentina opened #42 "Generating an index for an unknown number of pages"
I'm using [PDFKit](http://pdfkit.org/) on nodeJS; there i can generate a index on start, then add many pages, and go back to the first(S) pages (the index) to write the corresponding page number.

In react-native-pdf-lib is it possible? OR should i create, and then modify the document?

[2019-05-02 22:44] Hopding commented on #40
I'm going to close this issue for now. But please feel free to reopen it if you have additional questions!

[2019-05-02 22:44] #40 closed

[2019-05-02 22:51] Hopding commented on #41
Hello @fukuball!

`react-native-pdf-lib` does not currently support reading or writing encrypted documents. However, since both of the underlying libraries (for [iOS](https://github.com/galkahana/PDF-Writer) and [Android](https://github.com/TomRoush/PdfBox-Android)) support encryption, it would be possible to implement this feature.

If you (or anybody else) would like to work on a PR for this, I'

[2019-05-02 22:51] #41 closed

[2019-05-02 22:56] Hopding commented on #42
Hello @jacargentina!

This is not currently possible. You'll have to create and then modify the document, as you mentioned.

That being said, I think it would be relatively straightforward to implement support for this. The reason it is not currently possible is that the [`create`](https://github.com/Hopding/react-native-pdf-lib/blob/master/android/src/main/java/com/hopding/pdflib/factories/PDDocu

[2019-05-02 22:56] #42 closed

[2019-05-17 21:12] jackdewhurst commented on #24
I had the same problem using latest versions of React Native and this library.. I've forked it here https://github.com/jackdewhurst/react-native-pdf-lib, modified the podspec and added it to the project root. Seems to work now.

[2019-05-21 01:19] EmmanuelID opened #43 "How can I see the generated PDF?"
I have the path but I do not know how to see the PDF

[2019-05-25 19:25] Hopding commented on #43
I'd suggest the [`react-native-pdf`](https://github.com/wonday/react-native-pdf) library. It's supposed to support PDF rendering for both Android and iOS. I've personally found it only works well on Android though. I'd recommend [`react-native-webview`](https://github.com/react-native-community/react-native-webview) for iOS.

[2019-05-25 19:25] #43 closed

[2019-05-25 19:27] EmmanuelID commented on #43
Thanks 👍

[2019-06-04 22:56] jacargentina opened #44 "How to draw a simple line?"
I'm in need to draw a simple line, with a given color. I'm thinking on using drawReactangle with a very thin width?

[2019-06-06 23:41] Hopding commented on #44
Hello @jacargentina! Yes, using `drawRectangle` to create a rectangle of the desired line width is the way to do it.

[2019-06-06 23:41] #44 closed

[2019-06-12 21:02] thecoderformerlyknownasprince opened #45 "Size unit"
It looks like the size unit for setMediaBox() is points, which is not mentioned in the readme file. Is that correct?

[2019-06-14 20:41] tepho opened #46 "adding 5+ pages crashes the app"
i played a little with the example given, them when i increased the number of pages to 5, it completely crashed the app

- this picture is with 4 pages( 4x pages[0])

![works](https://user-images.githubusercontent.com/34044072/59536762-02eb6f80-8ecb-11e9-8bf4-2bbaca1138a0.JPG)
- this picture is with 5 pages( 5x pages[0])
![DoesntWork](https://user-images.githubusercontent.com/34044072/59536766-067

[2019-06-16 12:29] Hopding commented on #45
Hello @thecoderformerlyknownasprince!

You are correct. In all new PDF documents you create with `react-native-pdf-lib` (and in _most_ documents you may wish to modify), the default unit size is 1/72 inch (usually considered to be the size of a [point](https://en.wikipedia.org/wiki/Point_(typography))).

[2019-06-16 12:29] #45 closed

[2019-06-17 15:18] robinpaulson opened #47 "Is there any documentation for the available methods, etc.?"
I see from examining the examples that there are a number of object types available, including:
setMediaBox
drawText
drawRectangle
drawImage

Is there documentation anywhere, to know the full parameters each takes?

[2019-06-17 17:51] thecoderformerlyknownasprince commented on #46
Same problem here (on Android only, iOS is fine). I think it is related to the number of text boxes drawn instead of the pages added. Memory usage of the PDF generator seems to be proportional to the number of `drawText()` calls. Creating a single-page PDF file with 66 lines where each line is ~75 characters long caused the app's memory usage to increase from ~75 mb (before `write()` method is cal

[2019-06-17 18:37] thecoderformerlyknownasprince opened #48 "Slow operation on Android"
On iOS PDFs are generated in 1-2 seconds, but on Android it can take literally minutes. Is this a known issue?

[2019-06-30 02:14] robinpaulson opened #49 "Problems running the demo"
I tried the demo code included with this, but got this error message:
null is not an object (evaluating '_PDFLib.default.createPDF')

the line number (App.js:44) in the error message specifies the code which defines the pdf output location as the problem area, where I defined the pdfPath explicitly, as "/storage/emulated/0/sample.pdf" (this location exists and is writable).

Any suggestions? The e

[2019-06-30 07:42] robinpaulson commented on #49
This is the code i'm using to create the pdf:
PDFDocument
  .create('/storage/emulated/0/sample.pdf')
  .addPages(page1)
  .write() // Returns a promise that resolves with the PDF's path
  .then(path => {
 }
)

[2019-06-30 07:50] robinpaulson commented on #49
Hmm, I wonder if my use of expo is the problem here? pdfbox-android is not compiled at any time; is that necessary before using the library? If so, is it possible for npm to trigger a build at install time?

[2019-06-30 08:32] robinpaulson commented on #49
oh, expo doesn't support native modules. never mind, sorry.

[2019-06-30 08:32] #49 closed

[2019-07-22 13:32] appa3151 opened #50 "andorid size size limit"

[2019-07-22 13:55] appa3151 opened #51 "android side issue"
if page 6 add then size issue come but ios side working
![Screenshot_20190722-192236](https://user-images.githubusercontent.com/45174248/61638163-7779b100-acb6-11e9-8577-7bc7df082a81.png)

[2019-08-01 06:56] thekevinbrown commented on #47
The best docs that seem to exist at the moment are the flow types here:

https://github.com/Hopding/react-native-pdf-lib/blob/master/js/src/PDFPage.js

[2019-08-03 15:43] Hopding opened #52 "Looking for New Maintainer"
I created `react-native-pdf-lib` 2 years ago. At the time, there was no easy way to create or modify PDF documents in React Native environments. `react-native-pdf-lib` was meant to solve this problem. However, not long after releasing `react-native-pdf-lib`, I realized that this problem was much more widespread. There was no robust library for creating and modifying PDF documents in pure JavaScrip

[2019-08-20 04:13] joshien1997 commented on #2
@nzhtrt Have you done it ??

[2019-08-21 09:51] Beeltec commented on #48
Hi!

I just ran into the same problem with React Native 0.60.4. Turns out, the new Hermes JS-runtime seems to cause these slow generation processes. When I disabled Hermes, the generation was as fast as on iOS.

Best,

[2019-08-28 07:00] hoejun opened #53 "warning"
Why do I get an error with the pdf button function?
[
![error](https://user-images.githubusercontent.com/45154233/63832973-e086cf80-c9ac-11e9-9414-f7c49c76639e.jpg)
](url)

[2019-09-17 10:53] appa3151 commented on #46
same issue come...

[2019-09-17 10:54] appa3151 opened #54 "if added 6 pages to android side very very slow working"

[2019-09-17 11:29] appa3151 opened #55 "pages 6 added android v 6 around 50 sec time get and ios side only 10 sec get why"

[2019-10-22 02:00] thekevinbrown commented on #52
@Hopding We can take this on at Tech Insite.

Our use case for this library over `pdf-lib` is we need to create high resolution, 300MB+ PDF files, and trying to do that in pure JS land is going to be a recipe for disaster.

What do you need from us as next steps?

[2019-10-25 06:22] thekevinbrown commented on #55
The library uses different underlying PDF implementations on each platform. The iOS one is generally faster than the Android one, plus it depends on the performance characteristics of the Android device you're using.

We're creating 120 page print quality PDFs in our app, and a Galaxy S9 is about 3 times faster than a Motorola G7 because it's a processor intensive task.

I imagine PRs would be wel

[2019-10-25 06:23] thekevinbrown commented on #54
Duplicate of #55.

[2019-10-25 06:25] thekevinbrown commented on #46
We've worked around this for the time being by creating every page as a separate PDF, then stitching them together at the end.

We first noticed a memory problem on iOS actually, so note that if you put enough content in it'll face similar issues. I imagine that PRs would be welcome to solve this, but I'm not the maintainer, so can't say for sure.

[2019-10-29 23:38] Hopding commented on #52
Hello @thekevinbrown! I'm glad to hear your interested in taking over maintenance of `react-native-pdf-lib`! Would you mind emailing me at `andrew.dillon.j<at>gmail.com` to discuss this further?

[2019-10-30 02:55] thekevinbrown commented on #52
Done!

[2019-11-06 02:57] thekevinbrown commented on #52
Everyone, I've been added as a maintainer on this library. I'll go ahead and close this issue, but if anyone else wants in, just get in touch and we'll figure it out.

[2019-11-06 02:57] #52 closed

[2019-11-06 03:00] thekevinbrown commented on #47
I'll go ahead and assume this is resolved. If not, we welcome contributions of better docs.

[2019-11-06 03:00] #47 closed

[2019-11-06 03:02] thekevinbrown commented on #50
Hey there, could you provide more detail about the issue you're facing?

[2019-11-06 03:03] thekevinbrown commented on #51
Hey there, this looks like a duplicate of #46. I'll go ahead and close this, but if I'm wrong please let me know.

[2019-11-06 03:03] #51 closed

[2019-11-06 03:03] thekevinbrown commented on #54
I'll go ahead and close this in favour of #55.

[2019-11-06 03:03] #54 closed

[2019-11-06 03:04] Hopding commented on #52
Yes, @thekevinbrown has agreed to step up and maintain `react-native-pdf-lib`. Many thanks to him! And, as @thekevinbrown mentioned, if anybody else would like to help out, just shoot over an email or leave a comment on this thread!

[2019-11-06 03:04] thekevinbrown commented on #3
@ddaeschler If you're still facing this, I've got a local implementation that works on both iOS and Android which should be making its way into this library soon.

[2019-11-11 19:09] shibbyy opened #56 "Unhandled Promise Rejection: iOS only"
Unable to create PDF on iOS

[2019-11-11 19:12] shibbyy commented on #56
@Hopding @jacargentina any help will be deeply appreciated.

[2019-11-11 19:12] shibbyy commented on #53
@Hopding @jacargentina any help will be deeply appreciated here.

[2019-11-12 07:34] thekevinbrown commented on #53
@shibbyy @hoejun

It looks like it's possible that React Native PDF lib isn't correctly linked into your project, so the native module isn't found at runtime. Are you sure you've linked it correctly?

[2019-11-12 07:34] thekevinbrown commented on #56
@shibbyy what version of React Native are you on and have you correctly linked the library?

[2019-11-12 19:14] shibbyy commented on #56
@thekevinbrown I'm on RN 0.60.4 and I've correctly linked the library. I followed the docs as it is.

[2019-11-12 23:42] thekevinbrown commented on #56
Could you provide an example project so I can reproduce on my side?

[2019-11-14 07:26] danielezra opened #57 "PDFLib.getDocumentsDirectory() of undefined after Linking"
Hello, I keep getting an `PDFLib.getDocumentsDirectory() of undefined` error even though I followed all the steps on the installation. I would really appreciate it if someone could help enlighten me with this error.

I'm using Cocoapods and I even tried to link the dependencies and also tried doing those steps alone but no luck.

Please help.

[2019-11-14 09:15] thekevinbrown commented on #57
Could you supply an example project so I can reproduce and get to the bottom of it?

[2019-11-14 14:15] danielezra commented on #57
Thanks for the response @thekevinbrown, here's the reproduction

https://github.com/danielezra/IssueReproduction

Steps taken
1. Fresh react native project
2. Install react-native-pdf-lib
3. Linked through cocoa pods and react-native-link

Tried doing react-native-link alone and pod install alone but still getting the error.

Hope you could help me with this, Thanks!

![image](https://user-images.

[2019-11-15 12:07] danielezra commented on #56
Hi @thekevinbrown, I'm experiencing the same. I've a reproduction on this issue
https://github.com/Hopding/react-native-pdf-lib/issues/57

Thanks

[2019-11-19 05:21] danielezra commented on #57
Any finding on this @thekevinbrown?

[2019-11-19 20:55] jdkrebs commented on #57
For what its worth, I have run into this same issue. I'm going to try to dig a little further and will update if I figure something out.

[2019-11-29 14:30] gen-failure opened #58 "are annotations supported?"
I am currently using pdf-lib in my react-native app to open an pdf, add some simple annotations to existing pdf and save it. Is there a way how can I do the same using react-native-pdf-lib?

[2019-12-10 15:04] ThomasStubbe opened #59 "Error on default font Times New Roman (android)"
Hi!

I get the current exception when trying to execute the example:

[code]

I've added Times New Roman to assets/fonts, and added to following to package.json, but nothing helps.

[code]

[2019-12-10 15:06] #59 closed

[2019-12-10 15:06] ThomasStubbe commented on #59
Sorry, I thought linking was not needed anymore in the new react-native version

[2019-12-11 01:49] thekevinbrown commented on #59
No worries, linking of libraries is automatic, but fonts and other assets still need linking as far as I'm aware.

[2019-12-11 01:51] thekevinbrown commented on #58
The underlying PDF implementations support this but we don't have the APIs exposed to do it yet. Would welcome a PR to do so if you're keen.

[2019-12-11 15:37] zilicon commented on #57
I got a bit further

1. install latest reac-native-pdf-lib from github: npm install --save https://github.com/Hopding/react-native-pdf-lib

1. install latest reac-native-pdf-lib from github: npm install --save https://github.com/Hopding/react-native-pdf-lib

-

1. a

Turns out the sources are not getting picked up in the pod spec.

[2019-12-11 16:17] zilicon commented on #57
I don't know much about pods yet but got a bit further like this but it looks to me the problem is that the pdflib library does not get compiled because the source is not there, and secondly the static inlcuded libraries don't get linked.
I got around it this way:
1. Install latest version from github: npm install --save https://github.com/Hopding/react-native-pdf-lib
1. Edit RNReactNativePdfLib.p

[2019-12-12 05:27] thekevinbrown commented on #57
One of the things I'm hoping to do in the future is move away from PDFLib and to just using the built in CG PDF rendering methods on iOS, so that should help this as well.

[2019-12-31 02:22] derren7532123 opened #60 "TypeError: Cannot read property 'getDocumentsDirectory' of undefined"
import React from 'react';
import {
  SafeAreaView,
  StyleSheet,
  ScrollView,
  View,
  Text,
  StatusBar,
  Button,
  TouchableOpacity
} from 'react-native';

import PDFLib, { PDFDocument, PDFPage } from 'react-native-pdf-lib';

 exportPDF=async()=> {

  const page1 = PDFPage
  .create()
  .setMediaBox(200, 200)
  .drawText('You can add text and rectangles to the PDF!', {
      x: 5,
      y: 2

[2019-12-31 02:22] derren7532123 commented on #60
anyone can help me solve it ?

[2019-12-31 05:07] Quadrified commented on #60
Use RNFS or RNfetchBlob to use the file system. I couldn't get it working with getDocumentsDirectory as well.

[2020-01-02 06:53] thekevinbrown commented on #60
Does calling anything else on PDFLib work, or is it a linking issue where the native code isn't available at runtime?

[2020-01-02 07:51] derren7532123 commented on #60
think is linking issue ... coz im using expo

[2020-01-03 04:48] thekevinbrown commented on #60
Ah, yeah, Expo doesn't support custom native modules, and React Native PDF Lib isn't available on Expo. See, "How do I add custom native code to my Expo project?" here: https://docs.expo.io/versions/latest/introduction/faq/

To use this library you'd need to eject and then link the library into the project so the native code is there.

[2020-01-03 07:21] derren7532123 commented on #60
once i eject and i try build in xcode, it come out an error

[2020-01-03 07:40] Quadrified opened #61 "rnpm to be depreciated in the next release."
Just wanna inform you that the following shows up on the node server everytime I run "react-native run-android"
warn The following packages use deprecated "rnpm" config that will stop working from next release: - react-native-pdf-lib: https://github.com/Hopding/react-native-pdf-lib#readme                                                               Please notify their maintainers about it.
--

[2020-01-06 10:59] thekevinbrown commented on #61
Thank you for the heads up. We don't yet have a project on React Native 60+ where we use this library, but pull requests would definitely be welcome. Otherwise we'll tackle this when we're using the library on more up to date React Native.

[2020-01-06 10:59] thekevinbrown commented on #60
What's the error?

[2020-01-15 11:12] Rahish commented on #14
const docsDir = await PDFLib.getDocumentsDirectory();

I have used same like above but still getting same issue only for iOS. For ANdroid its working fine. Can you please suggest any Solution.

[2020-01-15 11:14] Rahish opened #62 "Cannot Read propertly getDocumentsDirectory of undefined in IOS only"
anyone can help me solve it ?

[2020-01-31 09:03] Quadrified opened #63 "Library to be updated"
Configuration 'compile' is obsolete and has been replaced with 'implementation' and 'api'.
It will be removed soon. For more information see: http://d.android.com/r/tools/update-dependency-configurations.html
Affected Modules: react-native-pdf-lib

[2020-02-09 23:41] thekevinbrown commented on #63
This has been resolved in v1.0.0. Let me know if you're still having trouble.

[2020-02-09 23:41] #63 closed

[2020-02-09 23:42] thekevinbrown commented on #62
This sounds like the module isn't correctly linked.

https://facebook.github.io/react-native/docs/linking-libraries-ios

Can you follow the steps there and let me know if you're still having trouble?

[2020-02-09 23:42] thekevinbrown commented on #61
@Quadrified does v1.0.0 help with this?

[2020-02-09 23:43] thekevinbrown commented on #60
Going to assume this was resolved. If there's a specific error we can help with please feel free to open a new issue.

[2020-02-09 23:43] #60 closed

[2020-02-09 23:48] thekevinbrown commented on #48
We've noticed performance differences as well. On Android we use https://github.com/TomRoush/PdfBox-Android, where on iOS we use https://github.com/galkahana/PDF-Writer.

We'd welcome pull requests to improve the performance either in the upstream PdfBox-Android library, or in our bindings to it (which are fairly light).

[2020-02-09 23:50] thekevinbrown commented on #57
@zilicon any chance you could make a PR for this so I can roll it into the library?

[2020-02-09 23:51] thekevinbrown commented on #27
I'll go ahead and close this issue as v1.0.0 should help here, and if not, this workaround should help too. If anyone knows of a better way we can tackle this please feel free to open a PR.

[2020-02-09 23:51] #27 closed

[2020-02-09 23:52] thekevinbrown commented on #3
I'll continue to push to integrate the merger I've built. I'll go ahead and close this issue for now.

[2020-02-09 23:52] #3 closed

[2020-02-09 23:53] thekevinbrown commented on #4
@Jorenm what's your use case? If it's to preview the PDF pages we've actually built a React Native component where you pass it a PDF path and a page number and it draws the page. This works on both iOS and Android.

Let me know if that'd be helpful.

[2020-02-09 23:54] thekevinbrown commented on #50
I'm going to close this as we don't have enough information to action anything here. If you can provide more details please feel free to open a new issue.

[2020-02-09 23:54] #50 closed

[2020-02-09 23:55] thekevinbrown commented on #34
We keep track of this as we add pages, but we could pretty easily keep track of this in the library.

[2020-02-09 23:55] thekevinbrown commented on #55
This looks like a duplicate of #48 to me. I'll close this one so we can track the conversation there.

[2020-02-09 23:55] #55 closed

[2020-02-09 23:57] thekevinbrown commented on #53
I'm going to close this as we need more info to help here. #57 might be related as well.

[2020-02-09 23:57] #53 closed

[2020-02-10 03:28] Quadrified commented on #61
I am gonna check for the same today. And I think I'll have to make some changes. I'll create a pull request if I made any changes.

[2020-02-10 05:21] Quadrified commented on #61
@thekevinbrown but is the new version released on npm and yarn?

[2020-02-10 06:39] Quadrified commented on #61
@thekevinbrown I tried changing stuff around, but its breaking the library.
It says:
ERROR: Failed to resolve: com.tom_roush:pdfbox-android:1.8.9.1

Even though, it is present, it still shows this error.

[2020-02-12 11:16] jdaoliveira commented on #57
@zilicon I created a fork using your fix, and I added/change to do the import automatically too
[https://github.com/jdaoliveira/react-native-pdf-lib](url)

I tested as best as I could, but as I am in work I can't fully test.

[2020-02-26 03:30] thekevinbrown commented on #57
@jdaoliveira, could you make a PR for these changes?

[2020-02-26 07:26] jdaoliveira commented on #57
@thekevinbrown Done, to make this work i had to remove the folder, probably not the best way, but i couldn't find a way to do it with folders.

[2020-03-05 10:07] vrautgit commented on #62
I got the same issue. Followed manual linking steps on react-native documentation.
The issue is still there.

`Possible Unhandled Promise Rejection (id: 0):
TypeError: Cannot read property 'getDocumentsDirectory' of undefined`

[2020-03-09 19:19] brasrox opened #66 "(Question) can i use this lib to read pdf files on screen?"
Just a question,
can this library be used to read documents on screen or only to create/edit it?

[2020-03-09 19:20] #66 closed

[2020-03-10 03:17] thekevinbrown commented on #66
Not at this time, only creating and editing is supported.

[2020-03-10 16:08] balzdur commented on #57
Based on the fix found by @zilicon, I made a modification to the `podspec` which resolve the issue.

**TL,DR:** add this to the `podspec`
[code]

**Explication:**
The resulting `podspec` is now :
[code]

After the modification given by @zilicon, the remaining issue is linked to unresolved header import. This is caused by cocoapods which flatten the headers directories. This line prevents this side

[2020-03-17 20:25] psyzz commented on #29
@njoye did you found a solution to add the pdf to edit in the app's data directory ?

[2020-03-17 23:47] jonathanroze commented on #62
Same for me and it's well linked

[2020-03-18 05:03] prathammehta commented on #3
@thekevinbrown any idea if the merger you’ve built has been integrated? If not, is there anywhere I can access your implementation of this? Thanks.

[2020-03-18 08:09] njoye commented on #29
Since I only needed a blank PDF that would then be filled with data, I tried to do everything on a new page inside a new PDF file that was created by `react-native-pdf-lib`. That worked quite well for me.

But I also couldn't work on it anymore, since the project was discontinued so ...

[2020-03-20 02:48] thekevinbrown commented on #3
Hey @prathammehta, it's not integrated, and I have not yet received permission to open source the implementation. Sorry. :-(

On iOS it uses CoreGraphics, and on Android it uses com.tom_roush.pdfbox.multipdf.PDFMergerUtility.

[2020-03-21 01:12] thekevinbrown commented on #62
A reproduction would help us troubleshoot it. This is working in my projects so it's hard to tell what the issue could be.

[2020-04-05 22:11] EricWiener commented on #62
Same issue here

[2020-04-06 09:39] costvin15 commented on #62
Same for me. I installed with:
![Captura de Tela 2020-04-06 às 06 38 28](https://user-images.githubusercontent.com/35884309/78544895-3c31fa80-77d1-11ea-8b2f-d5756f553d2d.png)

[2020-04-06 09:41] costvin15 commented on #62
Same for me. I installed it this way:
`yarn add react-native-pdf-lib
cd ios
pod install`

I am getting `TypeError: null is not an object (evaluating '_reactNativePdfLib.default.getDocumentsDirectory')`

[2020-04-06 11:05] EricWiener commented on #62
@costvin15 I’d recommend using pdf-lib. It works perfectly for me with no native dependencies.

[2020-04-07 09:01] costvin15 commented on #62
Thanks @EricWiener, I will search on. I am now using react-native-html-to-pdf and it is serving me well.

[2020-04-07 13:00] prathammehta commented on #41
Hi @Hopding,

I'd love to work on this and submit a PR. I haven't worked with these underlying libraries before. Could you point me in the right direction?

[2020-04-09 08:06] thekevinbrown commented on #41
Hey @prathammehta, in the right direction of what exactly?

The way I'd implement this is first by looking at the implementation this functionality in both of the PDF libraries used, figure out what options need to be passed to them to enable what you need, then finally figure out how a user can pass that in from Javascript.

You'll then just need to pass down the values.

[2020-04-09 08:08] thekevinbrown commented on #62
@EricWiener, and @costvin15 I don't see the linking step there in the installation, which would cause this.

Ultimately if the PDFs you're using are small enough to be able to use the pure JS implementation then that's what I'd recommend too as having native modules adds complexity.

[2020-04-09 22:20] psyzz opened #68 "java.lang.IllegalArgumentException"
Hello, thanks for your great lib.
i have many (128) crash report on my Google Play Console with this error :
[code]

Do you have an idea where to look to fix this error ?

[2020-04-10 14:11] thekevinbrown commented on #68
One possibility is that you might be trying to render a character that's not included in the font you're using?

https://github.com/TomRoush/PdfBox-Android/issues/100

[2020-04-10 14:16] psyzz commented on #68
Thanks, i'm using Helvetica.
I will check each char before drawText. Thanks

[2020-05-06 07:11] lylest commented on #62
facing the problem in android not ios

[2020-05-06 07:16] lylest opened #69 "Cannot Read propertly getDocumentsDirectory of undefined"
exportPdf = async ()=>{
           let txt = this.state.scriptBody
           const page1 = PDFPage

           .create()
          .setMediaBox(200, 200)
          .drawText('You can add text and rectangles to the PDF!', {
           x: 5,
           y: 235,
        color: '#007386',
          })

                     // Create a new PDF in your app's private Documents directory
         const do

[2020-05-06 11:31] lylest commented on #43
i know the path but where is it on my device computer?/

[2020-05-06 11:56] lylest commented on #69
in android/app/build.grade
 add the following
 android{
          dexOptions {
      jumboMode = true
  }

}

[2020-05-06 11:59] #69 closed

[2020-05-06 13:28] lylest opened #70 "No glyph for U+000A in font courier"
I am getting this error when I attemptED to create pdf  from text that has new line

[2020-05-09 17:28] lylest commented on #70
There is now way to create new line for example if I want to generate PDF from the long text from database it's not possible there is no way to add new line the only demonstrated example have used only single line text which is not practically in actually use

[2020-05-13 03:43] thekevinbrown commented on #70
If you use a different font that has a glyph for the end of line character you should be able to make it work.

[2020-05-13 09:32] lylest commented on #70
I tried two fonts can you send me the working font

On Wed, May 13, 2020, 6:43 AM Kevin Brown <notifications@github.com> wrote:

[2020-05-21 01:23] thekevinbrown commented on #70
Hi @lylest,

I wanted to apologise for sending you down a rabbit hole that wasn't productive. I've tried this myself today and cannot find a way to make it work with line breaks.

The library does not currently have very rich layout capabilities, it expects you to give it a rectangle and fill with short amounts of content. This is great for things like photo books with small amounts of text in the

[2020-05-21 07:15] lylest commented on #70
Thank you for your email and you did the great job making this library
though it's still lack some features I would like to contribute but I never
really built even a library I am not sure if my skills can help to make it
more better please let me know if there is anything that I can do to help I
would really love to be a part of it

On Thu, May 21, 2020, 4:23 AM Kevin Brown <notifications@github.

[2020-05-21 08:02] lunajing commented on #40
did you solve this problem?

error msg "TypeError: null is not an object (evaluating '_PDFLib.default.modifyPDF')" ?

[2020-06-05 12:15] ivanstnsk commented on #62
Same in iOS. It looks like there is an issue with auto-linking in React Native 0.60+

[2020-06-06 14:33] bedirhancelik commented on #59
Hello, i am facing with this issue either. I just want to create a pdf file with short amount of content. Here is my code;

[code]
I also created directory at "./assets/fonts" with Times New Roman.ttf in it.
And then i linked it with `react-native link`.

This is my package.json:
[code]
I am ensure that paths are correct. I reinstalled node_modules but didn't helped. I dont know what am i missing.

[2020-06-09 05:39] thekevinbrown commented on #59
What does logcat show when you try to create the PDF? I suspect you're hitting a permissions issue where you're not able to access the SD card.

[2020-06-09 05:40] thekevinbrown commented on #62
I'm using this library on React Native 59, and would welcome a PR to support auto-linking for 60+.

[2020-06-15 16:26] AbdallahRahal commented on #40
I have this Error to is there a solution ?

[2020-06-23 19:56] jochercoles opened #71 "Problem when I try create a new PDF file."
Hi, when I call the method for create the PDF file, your response is the follow. I create de folder assets/fonts, I moved the file of the font into this folder.

      const page1 = PDFPage
          .create()
          .setMediaBox(250, 250)
          .drawText("Some text!!!", {
            x: 5,
            y: 235,
            color: "#F62727",
            fontName: "Times New Roman"
          }

[2020-06-23 21:13] jochercoles commented on #71
Hello again. I was able to solve this problem. Forget copying the source file to the android / app / src / main / assets / fonts folder.

I ran again, npx react-native link, and finally.

Thank you, sorry for my inconvenience.

[2020-06-23 21:13] #71 closed

[2020-06-24 06:36] 251582422 opened #72 "How to set a password to a existing pdf file?"

[2020-06-24 14:37] jochercoles opened #73 "How to I must do to create file in sdcard or path especific"
Hi, good morning, I need create a file in a especific folder into internal memory or into sdcard, how do I do?

If I write `sdcard/myfolder/sample.pdf`, return "No such file or directory"

If I write:
const docsDir = await PDFLib.getDocumentsDirectory();
const pdfPath = `${docsDir}/sample.pdf`;

I can't found the file created in the emulated by react-native.

Regards.

Javier.

[2020-06-25 07:30] vipulswarup commented on #40
I have the same error. There is no stack trace. Below is the error message.

`[TypeError: null is not an object (evaluating '_PDFLib.default.modifyPDF')]`

[2020-07-02 11:56] AbhishekNairOfficial commented on #40
I have the same issue too. Is there a dependency that we're missing?

[2020-07-04 21:45] surajsingla333 opened #74 "PDF not creating"
Hi, I am trying to add images in PDF and the last console i.e. `console.log('PDF created at: ' + path);` this line shows the expected result. This means that the `write()` function worked perfectly fine and I see the location where the file is created but when I go to the location on my file system I don't see any generated PDF there. Why is it happening and how can I solve it?

[2020-07-10 05:47] #74 closed

[2020-07-10 05:51] surajsingla333 opened #76 "Get page size"
Is there any way to get the page size? I want to put the image in center of the page irrespective of the size. Is there any way to do the same?

[2020-07-13 09:55] venkat-waran commented on #62
I'm getting the same issue in IOS **react-native": "0.62.2"**. When can we expect to fix this issue for the latest react native version?

[2020-07-24 17:15] rusliabdulgani opened #78 "image path"
how can i use url image address to image path? or local react-native directory assets path? or it should be android file system?

[2020-07-29 17:42] shandilya1998 commented on #3
Hey I am in need of the pdf combining feature. Are you planning to open source it soon or should I go ahead and develop it? I am assuming it will take me around a month for me to get a prototype working on both iOS and android. Would really be frustrating it if you ended up open sourcing it before i completed it.

[2020-07-31 15:36] suhask-iprogrammer commented on #56
+1
TypeError: null is not an object (evaluating '_PDFLib.default.createPDF')

RN 63
react-native-pdf-lib: 1.0.0

Please provide a solution on this, (working fine on android).

[2020-08-30 22:23] Hopding commented on #52
@narender2031 That's great to hear! Thanks for reaching out. I'll send you an email shortly.

[2020-09-15 10:37] p-c-daniel commented on #56
Any news?

[2020-09-15 12:25] p-c-daniel commented on #40
Any news regarding this issue?

[2020-09-16 00:11] thekevinbrown commented on #56
Pull requests are still welcome.

[2020-09-16 00:51] thekevinbrown commented on #40
I suspect it's a linking issue, but I have not reproduced, so this is just a hunch.

If something in the library needs to change, pull requests are welcome.

[2020-09-24 06:18] sikky99 opened #79 "how styling works"
Can i style with Jsx , html or is there is any documentation for react-native-pdf-lib

[2020-10-02 05:22] thekevinbrown commented on #79
Hey there,

The documentation is the readme. Styling is done when you do the draw commands, e.g.

[code]

HTML is not supported because this is a way to directly use a PDF drawing library, not an HTML to PDF converter. If you want one of those, there's one here: https://github.com/christopherdro/react-native-html-to-pdf

[2020-10-02 08:26] thekevinbrown commented on #78
It needs to be a file on the file system, so if you want to use a URL, you need to download the image to your documents directory or otherwise save it first.

[2020-10-02 08:28] thekevinbrown commented on #76
I believe you can do this with either reading the media box of a page, or calling setMediaBox.

[2020-10-02 08:30] thekevinbrown commented on #73
You need to create the folder for it to save into first, which this library doesn't give you a way to do. If you use something like https://github.com/joltup/rn-fetch-blob you can create the folder before you put the PDF in there.

Alternatively you could create the PDF, then use rn-fetch-blob to move or copy it into the new directory.

[2020-10-02 08:31] thekevinbrown commented on #72
This library doesn't currently support encrypted PDFs. PRs are welcome.

[2020-10-02 08:32] thekevinbrown commented on #62
@venkat-waran when someone either creates a new PR to solve the issue, or takes ownership of getting #65 over the line.

[2020-10-02 08:33] thekevinbrown commented on #58
Going to go ahead and close this because the current answer is "no, but we could". If anyone wants to take this further they can.

[2020-10-02 08:33] #58 closed

[2020-10-02 08:35] thekevinbrown commented on #48
Unless there's someone who's willing to chip in here, this isn't going to improve, so I'm going to go ahead and close the issue. Please feel free to create a PR to improve performance on Android.

[2020-10-02 08:35] #48 closed

[2020-10-02 08:36] thekevinbrown commented on #6
I'm going go go ahead and close this issue as it's not going to move forward unless someone's willing to put together a PR.

[2020-10-02 08:36] #6 closed

[2020-10-02 08:37] thekevinbrown commented on #79
I'll go ahead and close this as we're not intending to support CSS or HTML within the scope of this library any time soon.

[2020-10-02 08:37] #79 closed

[2020-10-02 08:38] thekevinbrown commented on #70
I'll go ahead and close this issue as there's not much to do except enhance the overall text layout capabilities of this library, which I'm not going to have time or space to do anytime soon. If anyone wants to create a PR for this it'd be very welcome.

[2020-10-02 08:38] #70 closed

[2020-10-02 08:39] thekevinbrown commented on #68
I'll close this issue since it seems like it's resolved.

[2020-10-02 08:39] #68 closed

[2020-10-08 05:27] thekevinbrown commented on #71
Glad you got it working!

[2020-10-08 05:28] thekevinbrown commented on #74
@surajsingla333 might help others that find this from a search engine if you could mention what was wrong / what the fix was.

[2020-10-18 08:01] lylest commented on #70
any solution for this?

[2020-10-19 04:17] thekevinbrown commented on #70
Just the one I mentioned above: build it.

[2020-11-21 12:48] Rishabh-More commented on #73
@thekevinbrown Can you please give an example for this? I wish to save my generated pdf to a path like this: Internal Storage/app name/Export/PDF/reports.pdf

[2020-11-22 22:26] meliodev opened #82 "Preview a pdf before modifying it"
Hello, I couldn't find out how to preview a pdf before modifying it.
Use case: A user can insert a digital signature (png) by tapping the screen, and I need to let him view the result, and preferably manipulate the signature (resize, drag&drop) before confirming and saving the new pdf. Is it possible ?

[2020-12-14 06:45] SiSa68 commented on #18
Had same issue, and I fix it by removing 'file://' from the beginning of the image path
`.drawImage(jpgPath.replace('file://',''), 'jpg', ...`

[2020-12-28 17:29] tgreco commented on #62
This issue is still happening.

[2021-01-08 16:50] zilicon commented on #57
as this issue is still not fixed and there is a font issue now appearing on rn 0.63I forked the fix for that to add on @balzdur PR.
If you can't wait you can for the merge to happen, replace whit this line in your package.json and you should be worry free on ios:
"react-native-pdf-lib": "github:zilicon/react-native-pdf-lib#fix-fonts",

[2021-01-12 21:22] tioluwani94 commented on #46
Hi @thekevinbrown how do you go about stitching the separate PDFs created together at the end?

[2021-02-11 17:18] erick-hdz-sinergis commented on #76
Why can I read the media box of a page?

[2021-02-11 17:28] erick-hdz-sinergis opened #83 "How I get the page size to center an element?"
I want to center an element with respect to the width and height of the PDF document, but I can't find a way to do it, is there getSize or something similar?

[2021-03-26 19:25] ssalcedo-gnt commented on #40
Did someone fix the issue?

[2021-04-09 12:07] MSH786 opened #85 "Attempt to invoke virtual method 'Int android.graphics.Bitmap.getWidth()' on a null object ref"
hi, when i run code,

then i get error, attach screenshot

here is my code

import React from 'react';
import type {Node} from 'react';
import {
  SafeAreaView,TouchableOpacity,
  ScrollView,
  StatusBar,
  StyleSheet,
  Text,
  useColorScheme,
  View,
} from 'react-native';
import PDFLib, { PDFDocument, PDFPage } from 'react-native-pdf-lib';

const App=() => {

const generate=async()=>{

 const p

[2021-04-09 12:08] MSH786 commented on #85
OR this issue facing becuase of images over internet

I am trying with file system after that revert back to you

[2021-04-09 13:23] MSH786 commented on #85
This issue remain with file system

i have used image picker library but remain same

[2021-04-20 09:41] JavierLaguna commented on #85
I have the same issue, any update?

[2021-04-21 15:00] MSH786 commented on #85
ok i will use check and revert back to

OK, i will check and revert back to you .

Thank You

[2021-05-09 01:46] rlov commented on #85
I have the same issue :c

[2021-05-20 11:13] webtaculars commented on #72
@thekevinbrown I am using this library and I have added the ability to set password on Android(not building for iOS yet). Should I create a PR just for Android?

[2021-05-22 03:03] deddyprianto opened #89 "where can I find the PDF file"
in this case i'm succesfully to make PDF FILE but it only return a path /data/user/0/files/sample.pdf , my question is
where can I find the PDF file, i try search in the dir storage my phone(android) but i can't find any pdf file. please help me i really appreciate your suggestion

[2021-06-25 02:15] thekevinbrown commented on #72
I'd say yes, as long as the iOS side fails with an easily understood error message and we document that it's Android only, let's go for it!

[2021-06-26 01:59] thekevinbrown commented on #83
I haven't tested this, but playing around with the Media Box is where I'd start: https://github.com/Hopding/react-native-pdf-lib/blob/master/js/src/PDFPage.js#L66

[2021-06-26 01:59] #78 closed

[2021-06-26 02:00] thekevinbrown commented on #76
`page.mediaBox`: https://github.com/Hopding/react-native-pdf-lib/blob/master/js/src/PDFPage.js#L56

[2021-06-26 02:08] thekevinbrown commented on #89
When it returns the path, you should be able to load the file from there, e.g. something like this:

[code]

[2021-06-26 02:09] thekevinbrown commented on #82
You could do this using a separate way of drawing the PDF and your signature component, then writing the image on it using this library.

[2021-06-26 02:10] thekevinbrown commented on #85
Alright, as I can't reproduce I'll close this issue. If this is still a problem please open up a new issue with a reproduction repository and I'd be happy to have a look.

[2021-06-26 02:10] #85 closed

[2021-06-26 02:10] #76 closed

[2021-06-26 02:15] thekevinbrown commented on #46
I created a native module which uses `com.tom_roush.pdfbox.multipdf.PDFMergerUtility` on Android, and Core Graphics on iOS.

[2021-06-26 02:15] thekevinbrown commented on #4
I'll go ahead and assume this is resolved at this point. If that's not the case please feel free to open a new issue with details.

[2021-06-26 02:15] #4 closed

[2021-06-26 06:21] nathan0519 commented on #89
Hi i am also facing the same problem, could you please elabourate on the steps to view the file? really appreciate your help!

[2021-06-26 06:21] nathan0519 commented on #89
What do you mean by this.photobook!.contenPDFPAth!?

[2021-06-26 09:01] nathan0519 opened #91 "Saving the pdf created from internal storage to external storage"
Hi, I am looking to create a pdf using the createPDF and the function works fine but
1) I do not know how to view the created PDF and
2) I do not know how to move the created PDF from internal storage to external storage (so that it can be shared/viewed outside the app)

Thanks!

[2021-06-27 17:19] rameshkannank opened #92 "How can I do word wrap of text in drawText ?"
I needed to add text to PDF. The text can be a multiline or a single large line. In both cases, I need to add the text in multiple lines. What is the best way to do it?

[2021-07-09 10:19] webtaculars commented on #72
Oh cool, I haven't got time to complete it. Let me finish it up this weekend.

[2021-08-30 14:11] ykolomatski commented on #34
@Hopding Is there a way now to get the total number of pages?

[2021-09-15 14:49] Ellathet opened #94 "My PDF is not created"
hello, i'm using on android 11, when i go to try to create a pdf the console.log doesn't return me anything, do you know why?

` async createPDF() {
    // Create a PDF page with text and rectangles
    const page1 = PDFPage
      .create()
      .setMediaBox(200, 200)
      .drawText('You can add text and rectangles to the PDF!', {
        x: 5,
        y: 235,
        color: '#007386',
      })

[2021-09-21 12:24] Ellathet opened #95 "Not Found any font"
When creating a document, it can't find any of the fonts in the drawText method, giving me this error:
`[Error: fonts/Times New Roman.ttf]`

[2021-09-22 13:09] Ellathet commented on #95
Of course, I found the error, I wasn't able to use the fonts in my case, because I put it in the path of:

[code]

I put the sources in:

...\android\app\src\main\assets\fonts

It's work, but images not work, I used images with path in android:
[code]
but, catch this error:

![image](https://user-images.githubusercontent.com/76699403/134349387-00b6936c-f79e-4966-aba9-85997915bb15.png)

[2021-10-19 13:09] spinoops opened #97 "Error installing the app with react-native-pdf-lib"
Hi,

When I run react-native run-android :

[code]

Then I tried to add

[code]

[code]

Versions
[code]

Thanks for your recommandations

[2021-11-05 12:07] AnasAlamin commented on #40
how come this issue is closed?!, we've been facing this issue for a while now!

[2021-11-05 12:13] AnasAlamin opened #98 "App crashes when modifying PDF"
i'm getting this below error while trying to modify pdf.
[code]
the error is produced when i call write() as shown in the below code snippet
[code]

[2021-11-07 23:56] thekevinbrown commented on #89
We haven't heard from you, so I'll assume this has been resolved. If that's not the case, please open a new issue and reference this one. Thanks!

[2021-11-07 23:56] #89 closed

[2021-11-07 23:57] thekevinbrown commented on #91
When it returns the path, you should be able to load the file from there, e.g. something like this:

[code]

[2021-11-07 23:58] thekevinbrown commented on #92
This library doesn't support full text layout. The best way would be to either submit a PR to support word wrapping, or to calculate the lines yourself and lay them out one at a time.

[2021-11-08 00:00] thekevinbrown commented on #34
No, PRs are welcome though!

[2021-11-08 00:01] thekevinbrown commented on #97
This looks like your Android dev environment isn't set up correctly. Could you provide a reproduction?

[2021-11-08 00:02] thekevinbrown commented on #98
Could you provide a reproduction?

[2021-11-08 00:03] thekevinbrown commented on #40
The issue is closed because I haven't been able to reproduce it. Could you provide a reproduction project @AnasAlamin?

[2021-11-08 00:04] thekevinbrown commented on #94
Are there any errors or other feedback when you run logcat?

[2021-11-10 07:45] vertiPranav commented on #98
@AnasAlamin  Please follow https://github.com/Hopding/react-native-pdf-lib/pull/80

[2021-11-10 09:17] AnasAlamin commented on #98
i tried to provide an expo snack but unfortunately  i couldn't, so let me just explain what i did to reproduce the issue.
i'm basically picking a pdf file using "react-native-document-picker" and afrer getting the uri of the file i'm using it inside --->
[code]

[2021-11-16 13:14] spinoops commented on #97
I have a lot of dependencies but only yours is making problem :

[code]

In my first comment, I use automatic installation like your purpose and I had this type of error.

It should work with automatic installation??

Is it necessary to insall PdfBox-Android?

[2021-11-16 14:17] spinoops commented on #97
Ok I give up. Your library is not up-to-date... I lost hours and hours with that..

for example :
com.tom_roush:pdfbox-android:1.8.9.1

new version : com.tom-roush:pdfbox-android:2.0.8.0

I just need to create many differents pages with header/footer/pagination on a PDF. Why is that so complicated??

[2021-11-17 04:47] thekevinbrown commented on #97
Pull requests are welcome to bring things more up to date.

[2022-01-03 14:14] reactnative94 commented on #40
const page1 = PDFPage
  .modify(0)
  .drawText('This is a modification on the first page!', {
    x: 5,
    y: 235,
    color: '#F62727',
  })

As given in the above code PDFPage.modify() there is no modify method linked to PDFPage class. when I hover to PDFPage below is the code.

export class PDFPage {
    static create(): PDFPage;

    setMediaBox(width: number, height: number, options?: SetMed

[2022-03-17 21:34] jalinegm commented on #97
Hi! The library helps me a lot, thank you.

I had the same issue and one patch figure out it:

node_modules/react-native-pdf-lib/android/build.gradle

[code]

[2022-03-29 18:49] MrScrappy commented on #97
@jalinegm thanks!!  its works!!
![image](https://user-images.githubusercontent.com/68222436/160683665-12d919fa-fd0a-474f-80b6-dcbd8d5a1de6.png)
![image](https://user-images.githubusercontent.com/68222436/160683768-1f2c80ec-42ce-42da-9c46-b5a71047d7c7.png)

[2022-04-05 17:06] bqrichards commented on #98
I'm having the same issue

[2022-04-28 18:08] andonivizcaya opened #100 "You need to modiffy/update the build.gradle file"
The instalation was crashing because the module's build.gradle file had an outdated dependency pointing to com.tom_roush:pdfbox-android:1.8.9.1 and the new repo is called tom-roushe.

The file should be:
[code]

That worked for me.

[2022-06-21 08:43] DevRedaKhalaf opened #103 "Problem with Arabic Text"
I'm facing an issue when drawing Arabic text. for example: "السلام عليكم"

The result that I'm getting is "م ك ي ل ع   م ا ل س ل ا"

The Text is reversed with separated letters. any help?

[2022-06-21 15:34] Shogobg commented on #98
@AnasAlamin , document-picker will give you a URI beginning with `file://` - this library does not work with that format, this is why you're getting an error.

[2022-07-19 04:10] rg9z opened #105 "How to remove specified page ?"
I'm using this react native support library it's really smooth but,
how can i delete the pdf page with this package or any other way ?
Any help?

[2022-07-19 04:45] thekevinbrown commented on #105
We'd need to add a new API to allow that, it's not a function that already exists in the library.

[2022-07-19 06:21] rg9z commented on #105
I think we can combine with this [pdf-lib](https://github.com/Hopding/pdf-lib) package  to be able to remove the page, but have to keep in mind the performance issue.

[2022-09-11 20:08] Ellathet commented on #95
The fonts were placed in android assets, and imported there by the lib

[2022-09-11 20:08] #95 closed

[2022-10-08 16:33] Luckywannnnng opened #106 "How to fill the forms(by a variable's name) of a pdf-template(edited by Adobe Acrobat DC) like java-itext-lib.give me some suggestions,please!!!"
<img width="1168" alt="image" src="https://user-images.githubusercontent.com/29191681/194717517-f3d61aca-1b32-4a6c-b047-3d3d9000076e.png">
<img width="728" alt="image" src="https://user-images.githubusercontent.com/29191681/194717688-b6b4be04-30c4-44f7-8869-a989fb4c019d.png">

[2022-10-08 16:46] Luckywannnnng commented on #106
On Android platform,I can user itext-lib, but i have no idea on IOS platform,or I can just use react-native-pdf-lib for both,any suggestions...